.vscode/**
.vscode-test/**
src/**
.gitignore
.eslintrc.json
tsconfig.json
eslint.config.*
.eslintrc*
**/*.ts
!out/**/*.js
**/*.map
node_modules/**/test/**
node_modules/**/tests/**
node_modules/**/*.md
node_modules/**/.github/**
node_modules/**/LICENSE*
node_modules/**/CHANGELOG*
node_modules/**/.travis.yml
node_modules/**/.npmignore
node_modules/**/Makefile
node_modules/**/example/**
node_modules/**/examples/**
node_modules/**/doc/**
node_modules/**/docs/**
node_modules/**/*.d.ts.map
!bin/**
*.vsix
package-lock.json
