{%- macro render_dae(dae) -%}
    {%- set vars_vects = ['u', 'p', 'cp', 'x', 'm', 'y', 'z'] -%}
import sympy
import numpy as np
import scipy.integrate

cos = sympy.cos
sin = sympy.sin
tan = sympy.tan

class Model:
    """
    Flattened Modelica Model
    """

    def __init__(self):
        # ============================================
        # Declare time
        self.time = sympy.symbols('time')

        {% for var in vars_vects -%}
        # ============================================
        # Declare {{ var }}
        {% for c in dae[var] -%}
        {{ c.name }} = sympy.symbols('{{ c.name }}')
        {% endfor -%}
        self.{{var }} {{ "= sympy.Matrix([" }}{%- for c in dae[var] %}
            {{ c.name }} {%- if not loop.last -%}{{ ", " }}{%- endif -%}
        {% endfor -%} {{ "])" }}
        self.{{ var }}0 = {{ "{" }} {% for c in dae[var] %}
            '{{ c.name }}': {{ render_expression(c.start) }} {%- if not loop.last -%}{{ ", " }}{%- endif -%}
        {%- endfor -%}{{ "}" }}
        
        {% endfor %}

        # ============================================
        # Declare x_dot
        {% for c in dae.x_dot -%}
        {{ c.name }} = sympy.symbols('{{ c.name }}')
        {% endfor -%}
        self.x_dot {{ "= sympy.Matrix([" }}{%- for c in dae.x_dot %}
            {{ c.name }} {%- if not loop.last -%}{{ ", " }}{%- endif -%}
        {% endfor -%} {{ "])" }}

        # ============================================
        # Define Continous Update Function: fx
        self.fx = sympy.Matrix([{% for eq in dae.fx %}
            {{ render_equation(eq) }} {%- if not loop.last -%}{{ ", " }}{%- endif %}
        {%- endfor %}])

        # ============================================
        # Events and Event callbacks
        self.events = []
        self.event_callback = {}
        self.solved = False

    def solve(self):
        # ============================================
        # Solve for explicit ODE
        v = sympy.Matrix(list(self.x_dot) + list(self.y))
        sol = sympy.solve(self.fx, v)
        self.sol_x_dot = self.x_dot.subs(sol)
        self.sol_y = self.y.subs(sol)
        self.f_x_dot = sympy.lambdify([self.time, self.x, self.m, self.u, self.p], list(self.sol_x_dot))
        self.f_y = sympy.lambdify([self.time, self.x, self.m, self.u, self.p], list(self.sol_y))
        self.solved = True

    def __repr__(self):
        return repr(self.__dict__)

    def simulate(self, t0, tf, dt, f_u=None, max_events=100):
        """
        Simulate the modelica model
        """
        if not self.solved:
            self.solve()
        
        if f_u is None:
            def f_u(t):
                return np.zeros(self.u.shape[0])

        # ============================================
        # Declare initial vectors
        {% for var in vars_vects -%}
        {{ var }}0 = np.array([self.{{ var }}0[k] for k in self.{{ var }}0.keys()])
        {% endfor %}

        # ============================================
        # Solve IVP
        event_count = 0
        t1 = tf
        data = {
            't': [],
            'x': [],
            'u': [],
            'y': [],
        }


        while t0 < tf - dt and event_count < max_events:
            t_eval = np.arange(t0, tf, dt)
            res = scipy.integrate.solve_ivp(
                y0=x0,
                fun=lambda ti, x: self.f_x_dot(ti, x, m0, f_u(ti), p0),
                t_span=[t_eval[0], t_eval[-1]],
                t_eval=t_eval,
                events=self.events,
            )

            # check for event
            x1 = res['y'][:, -1]
            t1 = res['t'][-1]
            if res.t_events is not None:
                event_count += 1
                for i, t_event in enumerate(res.t_events):
                    if len(t_event) > 0:
                        if i in self.event_callback:
                            x1 = self.event_callback[i](t_event[i], x1)

            x = res['y']
            t = res['t']
            u = np.array([ f_u(ti) for ti in t ]).T
            y = np.array([ self.f_y(ti, xi, m0, ui, p0) for (ti, xi, ui) in zip(t, x.T, u.T) ]).T

            data['x'].append(x)
            data['t'].append(t)
            data['u'].append(u)
            data['y'].append(y)

            t0 = t1
            x0 = x1
        
        for k in data.keys():
            if len(data[k]) > 0:
                data[k] = np.hstack(data[k])
        return data
{%- endmacro -%}

{%- macro render_expression(expr) -%}
    {%- if "Terminal" in expr -%}
        {{- expr.Terminal.token.text -}}
    {%- elif "FunctionCall" in expr -%}
        {{- render_function(expr.FunctionCall) -}}
    {%- elif "ComponentReference" in expr -%}
        {{- render_component_reference(expr.ComponentReference) -}}
    {%- elif "Binary" in expr -%}
        {{- render_binary(expr.Binary) -}}
    {%- elif "Unary" in expr -%}
        {{- render_unary(expr.Unary) -}}
    {%- else -%}
        UNHANDLED EXPRESSION: {{ expr | pprint }}
    {%- endif -%}
{%- endmacro -%}

{%- macro render_equation(eq) -%}
    {%- if "Simple" in eq -%}
        {{- render_expression(eq.Simple.lhs) -}} {{- " - (" -}}
        {{- render_expression(eq.Simple.rhs) -}} {{- ")" -}}
    {%- elif "When" in eq -%}
    {%- else -%}
        UNHANDLED EQUATION: {{ eq | pprint }}
    {%- endif -%}
{%- endmacro -%}

{%- macro render_terminal(term) -%}
    {% if term.terimanal_type == "UnsignedInteger" %}
    {{ term.token.text | float }}
    {% elif term.terimanal_type == "UnsignedReal" %}
    {{ term.token.text | float }}
    {%- else -%}
        UNHANDLED TERM: {{ term | pprint }}
    {% endif %}
{%- endmacro -%}

{%- macro render_binary(expr) -%}
    {{- render_expression(expr.lhs) -}} {{- " " -}}
    {%- if "Add" in expr.op -%}
        {{ "+" }}
    {%- elif "Sub" in expr.op -%}
        {{ "-" }}
    {%- elif "Mul" in expr.op -%}
        {{ "*" }}
    {%- elif "Div" in expr.op -%}
        {{ "/" }}
    {%- else -%}
        UNHANDLED OP: {{ expr.op | pprint }}
    {%- endif -%}
    {{- " " -}} {{- render_expression(expr.rhs) -}}
{%- endmacro -%}


{%- macro render_unary(expr) -%}
    {%- if "Minus" in expr.op -%}
        {{ "-" }}
    {%- else -%}
        UNHANDLED OP: {{ expr.op | pprint }}
    {%- endif -%}
    {{- render_expression(expr.rhs) -}}
{%- endmacro -%}

{%- macro render_component_reference(comp) -%}
    {%- for part in comp.parts -%}
        {{ part.ident.text }}{% if not loop.last %}.{% endif %}
    {%- endfor -%}
{%- endmacro -%}

{%- macro render_function(func) -%}
    {{ render_component_reference(func.comp) }} {{- "(" -}}{%- for arg in func.args -%}
        {{- render_expression(arg) -}} {%- if not loop.last -%}, {%- endif -%}
    {%- endfor -%}{{ ")" }}
{%- endmacro -%}
"""
Automatically generated by Rumoca
"""
{{ render_dae(dae) }}