{%- macro render_class(class) %}
    {%- set wheel_base = eval(class, class.components.wheel_base.start) -%}
    {%- set wheel_radius = eval(class, class.components.wheel_radius.start) -%}
    {%- set wheel_inertia_ixx = eval(class, class.components.wheel_inertia_ixx.start) -%}
<?xml version='1.0'?>
<!--
  rumoca pkg version : {{ def.rumoca_version }}
  rumoca git version : {{ def.rumoca_git_hash }}
  template md5       : {{ def.template_md5 }}
  model md5          : {{ def.model_md5 }}
-->
<sdf version="1.7">
  <model name="{{ class.name }}">
    <pose>0 0 0.5 0 0 0</pose>
    <static>true</static>
    <link name="link">
      <inertial>
        <mass>1.0</mass>
        <wheel_base>{{ wheel_base }}</wheel_base>
        <wheel_radius>{{ wheel_radius }}</wheel_radius>
        <inertia>
          <ixx>{{ wheel_inertia_ixx }}</ixx>
          <ixy>0.0</ixy>
          <ixz>0.0</ixz>
          <iyy>0.083</iyy>
          <iyz>0.0</iyz>
          <izz>0.083</izz>
        </inertia>
      </inertial>
      <collision name="collision">
        <geometry>
          <box>
            <size>1 1 1</size>
          </box>
        </geometry>
      </collision>
      <visual name="visual">
        <geometry>
          <box>
            <size>1 1 1</size>
          </box>
        </geometry>
      </visual>
    </link>
  </model>
</sdf>
{%- endmacro %}

{%- for key, val in def.classes | items %}
{{ render_class(class=val) }}
{%- endfor %}
